* {
	margin:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #443266;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #191970;
}

.active {
    background-color: #4CAF50;
}

h1 {
	color: white;
	text-align: center;
	font-family: Georgia, Serif;
	font-size: 5em;
	position:relative;
	top: 275px;
}

h2 {
	color: white;
	text-align: center;
	font-family: Georgia, Serif;
	font-size: 4em;
	position:relative;
	top: 300px;
}

#one {
	background-color: #c3c3e5;
	background-image: url(precious.jpg);
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
}

#two {
	width: 100%;
	height: 100vh;
	background-color: #f1f0ff;
}

#two > h1 {
	color: black;
	font-size: 3em;
	position: relative;
	top: 175px;
}

#two > p {
	width: 50%;
	font-size: 30px;
	position: relative;
	top: 200px;
	margin: 0 auto;
	
}
#three {
	width: 100%;
	height: 100vh;
	background-color: #c3c3e5;
	margin: 0;
}

#three > h1 {
	color: black;
	font-size: 3em;
	position: relative;
	top: 175px;
}

#three > p {
	width: 50%;
	font-size: 30px;
	position: relative;
	top: 200px;
	margin: 0 auto;
}

#three > img {
	z-index: 1;
	position: relative;
	top: 230px;
	left: 780px;
}
#four {
	width: 100%;
	height: 100vh;
	background-color: #443266;
}

#four > h1 {
	font-size: 3em;
	position: relative;
	top: 175px;
}

#four > h2 {
	font-size: 2em;
}